Package: com.wizard.master
Name: WizardMaster
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Ghost library for bypass and premium logic.
Maintainer: Master
Author: Master
Section: Tweaks

