Package: com.wizard.mirror
Name: Wizard Mirror Pro
Depends: mobilesubstrate, com.saurik.substrate.safemode
Version: 2.0.0
Architecture: iphoneos-arm
Description: Absolute Mirroring for wizardcrackv2.dylib
Maintainer: WizardMaster
Author: WizardMaster
Section: Tweaks
