Package: com.yourname.wizardmaster
Name: Wizard Master Crack Pro
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: 100% Mirroring with Internal GCI Server & Signature Bypass.
Maintainer: WizardMaster
Author: WizardMaster
Section: Tweaks
