      - name: Install Theos
        run: |
          export THEOS=~/theos
          # تحميل ثيوس مباشرة
          git clone --recursive https://github.com/theos/theos.git $THEOS
          
          # تحميل الـ SDK من أضمن مستودع (theos/sdks) باستخدام رابط مباشر
          mkdir -p $THEOS/sdks
          curl -L https://github.com/theos/sdks/raw/master/iPhoneOS14.5.sdk.tar.xz -o $THEOS/sdks/iPhoneOS14.5.sdk.tar.xz
          
          # فك الضغط مع التأكد من سلامة الملف
          tar -xf $THEOS/sdks/iPhoneOS14.5.sdk.tar.xz -C $THEOS/sdks
          
          # مسح الملف المضغوط لتوفير المساحة
          rm $THEOS/sdks/iPhoneOS14.5.sdk.tar.xz
          
          echo "THEOS=~/theos" >> $GITHUB_ENV
