name: Wizard Mirror Pro Build

on:
  push:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Theos
        run: |
          export THEOS=~/theos
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          # تحميل الـ SDK يدوياً لحل مشكلة فشل السيرفر (Error 8)
          mkdir -p $THEOS/sdks
          curl -L https://github.com/theos/sdks/raw/master/iPhoneOS14.4.sdk.tar.xz -o $THEOS/sdks/iPhoneOS14.4.sdk.tar.xz
          tar -xf $THEOS/sdks/iPhoneOS14.4.sdk.tar.xz -C $THEOS/sdks
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Build Mirror Library
        run: |
          export THEOS=$THEOS
          make package FINALPACKAGE=1

      - name: Upload Dylib Artifact
        uses: actions/upload-artifact@v4 # تم التحديث لـ v4
        with:
          name: WizardMirror-Dylib
          path: .theos/obj/WizardMirror.dylib
