name: Wizard Mirror Pro Build

on:
  push:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: macos-latest
    permissions:
      contents: read
      actions: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: brew install ldid dpkg

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV
          echo "$HOME/theos/bin" >> $GITHUB_PATH

      - name: Download SDK
        run: |
          git clone --depth=1 https://github.com/theos/sdks.git ~/theos/sdks_repo
          mkdir -p ~/theos/sdks
          mv ~/theos/sdks_repo/*.sdk ~/theos/sdks/
          rm -rf ~/theos/sdks_repo

      - name: Build Library
        run: |
          export THEOS=~/theos
          make clean
          # لاحظ هنا استبدلنا الـ make العادي بـ Command يضمن خروج الـ dylib
          make FINALPACKAGE=1
        
      - name: Upload Final Artifact
        if: always() # يضمن الرفع حتى لو فيه تحذيرات
        uses: actions/upload-artifact@v4
        with:
          name: WizardMaster-Dylib
          # المسار ده أدق لجلب الـ dylib من المجلدات العميقة في جيت هاب
          path: |
            .theos/obj/*.dylib
            packages/*.deb
