name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          brew install ldid dpkg
          git clone --recursive https://github.com/theos/theos.git ~/theos
          git clone --depth=1 https://github.com/theos/sdks.git ~/theos/sdks
          export THEOS=~/theos
          export PATH="$THEOS/bin:$PATH"
          make FINALPACKAGE=1
      - uses: actions/upload-artifact@v4
        with:
          name: Wizard-Dylib
          path: .theos/obj/*.dylib
