name: Wizard Mirror Pro Build

on:
  push:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Theos & SDK
        run: |
          export THEOS=~/theos
          # تحميل أدوات الثيوس الأساسية
          git clone --recursive https://github.com/theos/theos.git $THEOS
          
          # تحميل الـ SDK (النسخة 14.5 المستقرة)
          mkdir -p $THEOS/sdks
          git clone --depth=1 https://github.com/theos/sdks.git $THEOS/sdks_repo
          mv $THEOS/sdks_repo/iPhoneOS14.5.sdk $THEOS/sdks/
          
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Inject GCDWebServer (Fix Missing Headers)
        run: |
          # تحميل مكتبة السيرفر وزرعها في المشروع لتجنب خطأ Headers
          rm -rf GCDWebServer
          git clone --depth=1 https://github.com/swisspol/GCDWebServer.git Temp
          mkdir -p GCDWebServer
          cp -r Temp/GCDWebServer/Core/. GCDWebServer/
          cp -r Temp/GCDWebServer/Requests/. GCDWebServer/
          cp -r Temp/GCDWebServer/Responses/. GCDWebServer/
          rm -rf Temp

      - name: Build Mirror Library
        run: |
          export THEOS=~/theos
          # تنظيف وبدء البناء النهائي
          make clean
          make package FINALPACKAGE=1

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WizardMirror-Final-Build
          path: .theos/obj/WizardMirror.dylib
