name: Wizard Mirror Pro Build

on:
  push:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Theos & SDK (Stable Git Method)
        run: |
          export THEOS=~/theos
          # تحميل الثيوس
          git clone --recursive https://github.com/theos/theos.git $THEOS
          
          # تحميل الـ SDK (أضمن رابط جربناه)
          mkdir -p $THEOS/sdks
          git clone --depth=1 https://github.com/theos/sdks.git $THEOS/sdks_repo
          mv $THEOS/sdks_repo/iPhoneOS14.5.sdk $THEOS/sdks/
          
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Inject GCDWebServer (Auto-Download)
        run: |
          # مسح أي مخلفات قديمة وتحميل نسخة نظيفة من السيرفر
          rm -rf GCDWebServer
          git clone https://github.com/swisspol/GCDWebServer.git GCDWebServer_Temp
          mkdir -p GCDWebServer
          cp -r GCDWebServer_Temp/GCDWebServer/Core/. GCDWebServer/
          rm -rf GCDWebServer_Temp

      - name: Build Mirror Library
        run: |
          export THEOS=~/theos
          make clean
          make package FINALPACKAGE=1

      - name: Upload Dylib Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WizardMirror-Final-Build
          path: .theos/obj/WizardMirror.dylib
